body {
    font-family: Arial, sans-serif;
    background-color: #c1ddcc;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}



h2 {
    color: rgb(71, 97, 171);
    font-size: 30px;
    text-align: center;
    background-color: #c1ddcc;
    padding: 10px;
    z-index: 1;
}



table {
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #2acec6;
    border: 3px solid #a0ffff;
    
}


td {
    padding: 15px;
    border: 1px solid #000000;
    font-weight: bold;

}


button {
    padding: 10px 20px;
    background-color:#6ed9ac;
    border: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    font-weight: bold;
}

button:hover {
    background-color: #2acec6;
}
